
/* Declare variables for easy access to general changes */

:root{
        --radius-size: 10px;
        --minimum-width: 100px;
        --nav-text-color: white;
        --main-text-color: black;
}


/* Sets overall structure for body in terms of font, box and background color. */

body{
    background-color: aliceblue;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Prepares the navigation container: fixed at left side */

header{
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 180px;
    min-width: 180px;
    z-index: 1;
    text-align: left;
    overflow: hidden;
    float: left;
    border-right: 5px solid black;
}

/* Format for h1 on header nav bar. */

header h1{
    padding: 20px 0px;
    color: var(--nav-text-color);
    text-align: center;
}

/* Format for nav container */

nav{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

/* Declaration of how the bookmark links should appear and behave. */

nav ul{
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    flex: 1;
    width: 100%;
    height: auto;
    text-decoration: none;
    display: block;
    list-style: none;
}

/* Default appearance of link list */

nav li{
    padding: 0px 20px;
    color: var(--nav-text-color);
    opacity: 50%;
}

/* Sets the text to full appearance, take out tranparency. */

nav li:hover{
    opacity: 100%;
}

/* Links appearance format */

nav a{
    text-decoration: none;
    color: white;

}

/* Prepares main container for the content */

main{
    position: relative;
    margin-left: 190px;
    width: 89%;
    height: auto;
    display: block;
    z-index: 0;
    min-width: var(--minimum-width);
    color: var(--main-text-color);
    
}

/* Prepares section container for both the aside and content */

section{
    width: auto;
    height: auto;
    margin-bottom: 20px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 0px;
    padding-top: 10px;
    flex: 1;
}

/* Aside declaration */

aside{
    width: 13%;
    height: auto;
    border-right: 5px solid burlywood;
    position: relative;
    min-width: 100px;
}

/* Formatting content area */

.contents{
    position: relative;
    width: 87%;
    height: auto;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    align-content: space-between;
}

/* Declares default image appearance */

.contents img{
    position: relative;
    border-radius: var(--radius-size);
    width: 150px;
    height: 200px;
    min-height: 50px;
    margin: 0px 10px;
    display: inline-block;
}

#whois img:hover{

/*and make the animation last for 0.5 seconds */
animation: jumping 1.0s;
/* delay animation trigger for 0.5s */
animation-delay: 0.5s;
/* When the animation is finished, start again */
animation-iteration-count: infinite;
}

/* jump routine  */

@keyframes jumping {
0% { transform: translate(0px, -1px) ; }
10% { transform: translate(0px, -2px) ; }
20% { transform: translate(0px, -4px) ; }
30% { transform: translate(0px, -8px) ; }
40% { transform: translate(0px, -16px) ; }
50% { transform: translate(0px, -20px) ; }
60% { transform: translate(0px, -16px) ; }
70% { transform: translate(0px, -8px) ; }
80% { transform: translate(0px, -4px) ; }
90% { transform: translate(0px, -2px) ; }
100% { transform: translate(0px, -1px) ; }
}




/* Declares figure container behaviour as to be an inline-block and to wrap */

figure{
    flex-wrap: wrap;
    display: inline-block;
}

/* Center text for the figure caption */

figcaption{
    text-align: center;
}

/* Format for images under Works section */

#works img{
    height: 200px;
    width: 400px;
    flex-wrap: wrap;
    display: inline-block;
}

/* Change size of image upon hover */

#works img:hover{
    height: 250px;
    width: 400px;
    box-shadow: 5px 5px 5px royalblue;
}

/* Format for images under hobbies section */

#hobbies img{
    height: 100px;
    width: auto;
    min-width: 100px;
}

/* Change position (raise up) image during mouse hover */

#hobbies figure:hover{
    position: relative;
    top:-15px;       
}

#singing:hover::after{
        content: 
}

/* Format for images under contacts section */

#contacts img{
    height: 10px;
    width: auto;
}

/* Shaking animation for how to contact icons */

#contacts figure:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }

   /* shake routine  */

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/* Footer format */

footer{
    position: relative;
    top: 100px;
    left: 14%;
    align-items: center;
    text-align: center;
    width: 80%;
    height: auto;
    padding-bottom: 20px;
}


/* Behaviour of images/contents of main during screen resizing to 1165px. */

@media screen and (max-width:1165px) {

    /*  */
    section{
        position: relative;
        display: inline-block;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap; 
    }

    /* Moves the aside */
    aside{
        width: 100%;
        border-top: 5px solid burlywood;
        border-right: none;
        margin-bottom: 10px;
    }

    /*  Centers the h2 to center when shifting to top position */
    aside h2{
        text-align: center;
    }

    /*  Change position to center and resize image to 25% of screen size. */
    figure img{
        align-content: center;
        width: 25%;
        height: auto;

    }  

    /* Prevents the icons to shrink when pointer is over the items. */
    #works img, #works img:hover, #works figure:hover{
        
        width: 100%;
        height: auto;
        display: inline-block;
    }
    
   

}


/* Behaviour of images/contents of main during screen resizing to 851px. */


@media screen and (max-width:851px) {
    
    #hobbies figure{
        width: 49%;
        height: 200px;
        min-width: 100px;
    }
    #hobbies figure img{
        width: 100%;
        height: 200px;
        min-width: 100px;
    }
    #works figure:hover{
        pointer-events: none;
    }

}


/* Behaviour of images/contents of main during screen resizing to 436px. */

@media screen and (max-width:436px) {
    #hobbies figure{
       width: 100%;
       height: 200px;
       min-width: 100px;
   }
   #hobbies figure img{
       width: 100%;
       height: 200px;
       min-width: 100px;
   }
}