:root{

}

body{
    background-color: aliceblue;
    box-sizing: border-box;
    /*display: flex;
    flex-wrap: wrap;
    */
}

.background{
    position: fixed;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 90%;
}

header{
    background-color: green;
    position: fixed;
    top: 0px;
    left: 0px;
    height: auto;
    width: 100%;
    z-index: 1;
    display: block;
    text-align: center;
    overflow: hidden;
    /* flex-wrap: wrap; */
}

header h1{
    padding: 20px 0px;
    
}

nav{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
        
}

nav ul{
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    flex: 1;
    align-items: center;
    width: 100%;
    height: auto;
    flex
   
}

nav li{
    display: inline-block;
}



main{
    position: relative;
    top: 60px;
    width: 100%;
    height: auto;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
    
}

.intro-image{
    height: 20px;
    width: 200%;
    opacity: 99%;
}

section{
    width: 100%;
    height: auto;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;

    position: relative;

}


aside{
    width: 20%;
    height: auto;
    border-right: 5px solid burlywood;
    position: relative;
    min-width: 100px;
}

.contents{
    position: relative;
    width: 80%;
    height: auto;   
    min-width: 300px;
    /* border: 2px solid skyblue; */
    display: flex;
    flex-wrap: wrap;
    display: inline;  
}

.contents img{
    position: relative;
    border-radius: 10px;
    width: auto;
    height: 300px;
    min-height: 100px;
    margin: 0px 10px;
    display: inline-block;

}

figure{
    display: inline-block;
}

figcaption{
    text-align: center;
}

.contents p{
    position: relative;
    display: inline-block;
}


footer{
    position: relative;
    top: 100px;
    left: 0px;
    align-items: center;
    text-align: center;
}

@media screen (max-width:500px) {
    section{
        display: inline;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
    }
    
    aside{
         width: 100%;  
    }
    
}