:root{

}

body{
    background-color: aliceblue;
    box-sizing: border-box;
    /*display: flex;
    flex-wrap: wrap;
    */
}

header{
    background-color: green;
    position: fixed;
    top: 0px;
    left: 0px;
    height: auto;
    width: 100%;
    z-index: 1;
    display: block;
    text-align: center;
    overflow: hidden;
    /* flex-wrap: wrap; */
}

header h1{
    padding: 20px 0px;
    
}

nav{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
        
}

nav ul{
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    flex: 1;
    align-items: center;
    width: 100%;
    height: auto;
    flex
   
}

nav li{
    display: inline-block;
}

main{
    position: relative;
    top: 100px;
    width: 100%;
    height: auto;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    


}

section{
    width: 100%;
    height: auto;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

}


aside{
    width: 20%;
    height: auto;
    border-right: 5px solid burlywood;
    position: relative;
}

.contents{
    position: relative;
    width: 80%;
    height: auto;   
    
}


footer{
    border: 5px solid hotpink;
    position: relative;
    top: 100px;
    left: 0px;
    align-items: center;
    text-align: center;
}